body {
    display: flex;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
}

.demon {
    position: relative;
}

.demon .head {
    display: block;
    max-width: 50vw;
    max-height: 50vh;
    aspect-ratio: 1121 / 1117;
    z-index: 1;
}

.demon .eye {
    position: absolute;
    z-index: 2;
    animation: eye-anim-left 2s linear infinite;
}

@keyframes eye-anim-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes eye-anim-right {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.demon .eyeLeft {
    top: 41.9%;
    left: 31.6%;
    width: 11.5%;
    aspect-ratio: 129 / 148;
    animation-name: eye-anim-left;
    transform-origin: 48.8% 61.4%;
    animation-delay: -1s;
}

.demon .eyeRight {
    top: 46%;
    left: 52%;
    width: 9.7%;
    aspect-ratio: 109 / 170;
    animation-name: eye-anim-right;
    transform-origin: 49.5% 65.2%;
}

@media (width <= 1000px) {
    .demon .head {
        max-width: 75vw;
        max-height: 75vh;
    }
    h1 {
        font-size: 40px;
    }
}
